.NewsPanel {
  display: grid;
  /* height: inherit; */
  align-content: center;
  text-align: center;
  grid-template-columns: auto;
}
.NewsPanel-Carousel {
  display: flex;
  justify-content: center;
  /* width: inherit; */
}
.PlatesCarousel {
  width: 70%;
  height: auto;
  box-shadow: 10px 10px 5px #000;
  -moz-box-shadow: 10px 10px 5px #000;
  -webkit-box-shadow: 10px 10px 5px #000;
  -khtml-box-shadow: 10px 10px 5px #000;
  border-radius: 5px;
}
.PlatesCarousel img {
  border-radius: 5px;
}

.accordion {
  /* width: 20%; */
  /* height: 10px; */

  /* color: white; */
}
.accordion-item {
  background-color: var(--background-color) !important;
  /* background-color: rgba(255, 255, 255, 0.9)  !important; */
  border-color: var(--background-color) !important;
  color: white !important;
  /* width: 80%; */
  font-size: medium !important;
}

.accordion-button:not(.show) {
  color: #ffffff !important;
  background-color: var(--dark-color-app) !important;
  border-color: var(--dark-color-app) !important;
  /* box-shadow: red !important; */

  /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
  padding: 10px !important;

  font-weight: bolder;
  font-size: large !important;
}

.accordion-button:active {
  background-color: white !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

@media only screen and (min-device-width: 500px) {
  .PlatesCarousel {
    width: 50%;
  }
}
