.HomePage {
  margin: 10px 50px 10px 50px;
}

.HomePage p {
  text-indent: 50px;
  text-align: justify;
  font-style: italic;
}

.AuthorLink {
  color: var(--color-app);
}

.AuthorLink a {
  color: var(--color-app);
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-device-width: 500px) {
  .HomePage {
    font-size: 4.5vw;
  }
}

.Author{
  text-align: center;
  padding-bottom: 10px;
}