.LanguageSelector {
  color: var(--font-color-app);
  background-color: var(--dark-color-app);
  text-align: right;
  font-size: 2vh;
  width: 100%;
  /* height: 3%; */
  /* justify-content: left; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* margin: 0 0 0 0;
    padding: 0 0 0 0; */
}

.LanguageSelector-Dropdown {
  display: inline-block;
  position: relative;
  width: 12.2vh;
  text-align: left;
}

@media only screen and (max-device-width: 550px) {
  .LanguageSelector-Dropdown {
    width: 12.8vh;
  }
}
