.StateLicensePlatesPanel {
  display: grid;
  /* height: inherit; */
  align-content: center;
  grid-template-columns: auto;
  gap: 10px;
  /* background-color: red; */
  padding: 10px;
  border-style: solid;
  border-color: green;
}

img {
  width: '11vh';
  height: auto;
}

.StateLicensePlatesItem {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: white;
}

@media only screen and (min-device-width: 450px) {
  .StateLicensePlatesPanel {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-device-width: 600px) {
  .StateLicensePlatesPanel {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-device-width: 1000px) {
  .StateLicensePlatesPanel {
    grid-template-columns: auto auto auto auto;
  }
}
