.SearchResults {
  /* width: max-content; */
  margin-top: 15px;
  text-align: center;
  display: block;
  align-items: center;
  /* border: solid; */
  width: auto;
  overflow: auto;
  padding-top: 10px;
}
.SearchLicensePlatesPanel-Submit {
  /* display: flex; */
  text-align: center;
  display: block;
  align-items: center;
}

.SearchButton {
  margin-top: 15px;
  height: 35px;
  width: 20vw;
  text-align: center;
  font-size: small;
  border-radius: 5px;
  border: 1px solid black;

  color: var(--font-color-app);
  background-color: var(--dark-color-app);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ActiveButton {
  color: var(--font-color-app);
  background-color: var(--dark-color-app);
}

.SearchButton:hover {
  background-color: var(--color-app);
  /* color: white; */
}
